/* /* div{
    height:150px;
    width:400px;

    text-align: justify;
    background-color: pink;

    border-width:5px;
    border-style:solid;
    border-color:black;

    border-left-color:green;
    border-right-color:yellow;
    border-top-color:red;
    border-bottom-color:pink;

    border-left-style:dashed;

    border-top:5px dashed blue;

    border:5px solid black;
    /* border-radius: 15px; */
    /* border-top-right-radius:15px;
    border-radius:15px;

   padding-left: 20px; 
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;

   margin-bottom:25px;
   margin-left:20px;
   margin:20px 50px;
   margin:20px 50px 30px;
   margin:20px 30px 40px 50px;
} */

/* h1{
    
    margin:0;
    /* border-width: 2px;
    border-style:dashed;
    border-color:green; */
    /* border:2px dashed green;
} */

/* button{
    border:2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
    padding:10px 20px;
    padding:10px 20px 30px;
    padding:10px 20px 30px 40px;
}  */ 

/* #outerdiv{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.innerdiv{
    height:50px;
    width:50px;
    border: 2px solid black;
    border-radius:50%;
    margin:10px;
}

#red{
    background-color:red;
}

#yellow{
    background-color:yellow;
}

#green{
    background-color:green;
}

h2{
    display:inline;
    background-color: pink;
}

span{
    display:block;
    background-color: yellowgreen;
} */

/* span{
    background-color: pink;
    border:2px solid black;
    height:100px;
    width: 200px;
    padding:50px;
    margin:20px;
}

p{
    border:2px solid black;
    height:100px;
    width: 200px;
    padding:50px;
    margin:20px;
} */

/* div{
    height:200px;
    width:200px;
    border:2px solid black;
    background-color: greenyellow;
    margin:5px;
    display: inline-block;
}

#third{
    display: none;
} */

/* h1{
    border:2px solid black;
    width:50%;
}

#outer{
    height:400px;
    width:400px;
    background-color: pink;
    margin:50px;
}

#inner{
    height:100px;
    width:100px;
    background-color: cornflowerblue;
    margin-left:10%;
} */

/* #outer{
    height:400px;
    width:400px;
    border:2px solid black;
    background-color: pink;
    font-size:10px;
}

#inner{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color: blueviolet;
    font-size:3em;
    padding: 1em;
}

button{
    font-size:50px;
    border-radius:15px;
    border:5px solid green;
    padding-left: 1em;
    padding-right: 1em;
}

section{
   font-size: 15px; 
}

div{
    font-size:2rem;
} */

/* #box{
    height:150px;
    width:300px;
    background-color: grey;
    border:5px dotted black;
    margin:20px 1em 40px 2em;
    padding: 1em; 
} */

/* div{
    height:100px;
    width:100px;
    background-color: pink;
    border:2px solid black;
    border-radius:50%;
    margin-left: 2em;
    padding: 1em;
    display: inline-block;
}  */

/* li{
    display: inline;
} */

/* div{
    height:200px;
    width:200px;
    background-color: #00ff04ff;
}

#opacity{
    background-color: rgb(130, 88, 9);
    opacity: 0.5;
} */

/* div{
    height:100px;
    width:100px;
    background-color: #00ff04ff;
    transition-duration:1s;
    transition-delay:1s;
    margin: 0 auto;
    margin-top:10px;
    transition: margin-top 2s ease-in-out 0.2s;
} */

/* div:hover{
    background-color: black;
    border-radius: 50%;
} */

/* div:hover{
    margin-top:400px;
    background-color: pink;
} */

/* section{
    margin-top: 100px;
}

div{
    width:200px;
    height:50px;
    text-align: center;
    background-color: #7aa874;
    border:2px solid black;
    margin:10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color:#ebb02d;
}

#one{
    transform:rotate(45deg);
}

#two{
    transform:scale(2);
    transform:scale(0.5,2);
    transform:scaleX(0.5);
    transform:scaleY(0.5);
    transform:scale(0.5);
}

#three{
    transform:translate(100px,100px);
    transform:translateX(-100px);
}

#four{
    transform:skew(30deg);
}

#five{
    transform:rotate(30deg) translateX(150px);
} */

/* div{
    height:200px;
    width:400px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image:url("backgroundimage.jpeg");
    color:white;
    background-size:cover;
} */

/* .card{
    height:300px;
    width:200px;
    border:2px solid black;
    display: inline-block;
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}

.desc{
    padding: 0 2px 0 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 0 8px 16px black;
} */

/* div{
    height:100px;
    width:100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin:20px;
    display: inline-block;
}

#static{
    background-color: yellow;
    position:static;
    left:100px;
    top:100px;
}

#relative{
    background-color: yellow;
    position: relative;
    left:100px;
    top:100px;
}

#absolute{
    background-color: yellow;
    position: absolute;
    left:100px;
    top:100px;
}

#fixed{
    background-color: yellow;
    position: fixed;
    left:100px;
    top:100px;
} */

/* #face{
    height:300px;
    width: 300px;
    border-radius: 50%;
    
    background-color: #ffa511;
}

#mouth{
    width: 150px;
    height:50px;
    background-color: brown;
    border-radius: 0 0 40px 40px;
    position:absolute;
    top:200px;
    left:83px;
}

#eye1{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: black;
    border:2px solid black;
    position: absolute;
    top:60px;
    left:80px;
    display: inline-block;
}

#eye2{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: black;
    border:2px solid black;
    position: absolute;
    top:60px;
    left:185px;
    display: inline-block;
} */

/* div{
    height:200px;
    width:200px;
    background-color: green;
    transition-duration: 1s;
    transition-delay:1s;
}

div:hover{
    background-color: brown;
} */

/* Qs1. Add a 2s transition on box1 for width changes.
       It should have 'ease-in' speed curve & 0.5s delay  */
/* 
       #box1 {
        width: 100px;
        height: 100px;
        background: green;
        transition:width 2s ease-in 0.5s;
      }
      
      #box1:hover {
        width: 600px;
      } */
      
      /* Qs2. Using transform, move box2 200px to the right  & 
              200px down. Also rotate it 90deg.*/
      
      /* #box2 {
        width: 100px;
        height: 100px;
        background: red;
        transform: translate(200px,200px) rotate(90deg);
      } */
      
      /* Qs3. Using transform, skew box3 20deg along the x axis.*/
      
      /* #box3 {
        width: 100px;
        height: 100px;
        background: lightblue;
        transform: skewX(20deg);
      } */
      
      /* Qs4. Set a 2px horizontal & 2px vertical, green shadow 
              for box4, with a 5px blur radius.*/
/*       
      #box4 {
        width: 100px;
        height: 100px;
        background: lightgreen;
        box-shadow: 2px 2px 5px green;
      }
       */
      /* Qs5. Set Your picture or any picture as the background of the div
              "myPic". Also, set transparency of this div to 50%. */
      
      /* #myPic {
        width: 200px;
        height: 200px;
        background: pink;
        background-image: url(women.jpg);
        opacity: 50%;
      } */

/* h1{
    text-align: center;
}    

#container{
    height:600px;
    width:60%;
    background-color: azure;
    border:2px solid black;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    /* align-items: baseline; */
    /* align-content:flex-start; */
    
/* } */ 

/* #org{
    align-self: baseline; */
    /* flex-basis:50px; */
    /* flex-grow:1; */
    /* flex-shrink: 1; */
    /* flex:2 2 100px;
}
                
#container div{
    height:100px;
    width:50px;
    color:white;
    text-align: center; */
    /* font-size: 1.5em; */
/* }

#blue{ */
    /* flex-basis:400px; */
    /* flex-grow:3; */
    /* max-width: 300px; */
    /* flex-shrink:1; */
    /* flex-grow:2;
} */

/* #container{
    height:400px;
    width:400px;
    border-radius: 10px;
    border:2px solid aqua;
    margin:10px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

#container div{
    height:100px;
    width:100px;
    border-radius: 5px;
    border:2px solid black;
    font-size:50px;
    text-align: center;
    background-color: grey;
} */

#container{
    height:50px;
    width:900px;
    background-color:palevioletred;
    border-radius: 10px;
    border:2px solid aqua;
    display: flex;
}

#container div{
    height:50px;
    width:80px;
    font-size: 24px;
    line-height: 50px;
    margin-left: 5px;
}












